@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

.text-outline {
  -webkit-text-stroke: 1px #ffffff;  /* Initial stroke color */
  color: transparent; /* Text is initially transparent */
}

.group:hover .text-outline {
  -webkit-text-stroke: 1px #23cdeb;  /* Stroke color on hover */
  color: transparent; /* Ensure text stays transparent */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

